version: '3.8'

services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://chekam:chekam@51.8.81.142/chekam
    networks:
      - my-main-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"  # Map host 3000 to container 80
    networks:
      - my-main-net

networks:
  my-main-net:
    external: true